main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.title {
    font-family: 'Great Vibes',
    cursive;
    
}

.body {
    font-family: 'Roboto',
        sans-serif;
}

/* default styles */
.header {
    background: linear-gradient(to right, #ee9ca7, #ffdde1);

}

/* Show big image on bigger screens */
@media only screen and (min-width: 992px) {
    .header {
        background-image: url("/img/JillPrestonLarge.png");
        background-repeat: no-repeat;
        background-position: fixed;
        background-size: cover;
        min-height: 480px;
    }
}

/* Show small image on smaller screens */
@media only screen and (min-width: 770px) and (max-width: 991px) {
    .header {
        background-image: url("/img/JillPrestonSmall.png");
    }
}
